/* Root Variables */
:root {
    /* Fonts */
    --headings-font: "Raleway", sans-serif;
    --main-font: "Roboto", sans-serif;
    --primary-bg-colour: #F4E1B0;    /* Wheat */
    --secondary-bg-colour: #A5D6A7;  /* Celadon */
    --tertiary-bg-colour: #2E7D32;  /* Office Green */
    --primary-font-colour: #4E342E;  /* Van Dyke*/
}

/* Global styles */

body {
    font-family: var(--main-font);
    color: var(--primary-font-colour);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--headings-font)
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Navbar | Navigation section */

#navbar {
    background-color: var(--primary-bg-colour);    
}

#navbar a {
    color: var(--primary-font-colour);
}

#navbar .navbar-toggler {
    background-color: white;
}

#navbar .navbar-toggler .navbar-toggler-icon {
    color: black;
}

/* Footer */

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: var(--primary-font-colour);
}

/* Django allauth */
.btn-signup {
    background-color: var(--secondary-bg-colour);
}

/* Hero section */
#hero {
    height: 400px;
    width: 100%;
    background-color: var(--secondary-bg-colour);
    background: url("../images/hero.webp") no-repeat center center/cover;
    position: relative;
}

#hero #heroText {
    background: rgba(211, 211, 211, 0.7);
}

#hero #heroText .lead {
    font-weight: bold;
}

.btnAllEvents {
    background-color: var(--secondary-bg-colour);
    color: var(--primary-font-colour);
    font-weight: 500;
}

.event-link {
    text-decoration: none;    
}

.event-link .card-title {
    color: var(--primary-font-colour);
}

#dateLocationText .card-text {
    color: var(--primary-font-colour);
}

/* All Events page */
.page-link {
    background-color: var(--secondary-bg-colour);
    color: var(--primary-font-colour);
    font-weight: bold;
}

.page-link:hover {
    color: var(--primary-font-colour);
    font-weight: bold;
}

/* Events Detail section */

/* Masthead styles */
.masthead { 
    padding: 1.5rem 0; 
}

.masthead .masthead-text { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

.masthead-image .image-container { 
    overflow: hidden; 
    border-radius: 6px; 
}

.masthead-image img { 
    object-fit: cover; 
    display: block; 
}

/* Booking Events */
#bookingbtn {
    background-color: var(--tertiary-bg-colour);
}


/* Event BS Cards*/
.card-img-top {
    height: 20vh;
}

.card-body {
    min-height: 330px;
}

.dateLocationText {
    color: var(--primary-font-colour);
}

/* My Events page */
#myevents-tabs .nav-tabs{
    background-color: var(--secondary-bg-colour);
    height: 5vh;
}

#myevents-tabs .nav-tabs .nav-link {
    color: var(--main-font);
    font-weight: 500;
    font-size: 1.15em;
}

/* Footer section */
#footer {
    background-color: var(--primary-bg-colour);
}

/* Media Queries */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {  
    /* Event BS Cards */ 
    .card-body {
        min-height: 510px;
    }
}

/* Large devices (tablets, 992px and up) */
@media screen and (min-width: 992px) {
    /* Hero */
    #hero {
        height: 450px;
    }

    /* Masthead styles */
    .masthead-image .image-container { height: 320px; }
    .masthead-image img { height: 100%; }

    /* Event BS Cards */
    .card-body {
        min-height: 445px;
    }
}

/* Extra-large devices (tablets, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* Event BS Cards */
    .card-body {
        min-height: 415px;
    }
}

/* Extra-extra-large devices (tablets, 1400px and up) */
@media screen and (min-width: 1400px) {
    /* Event BS Cards */
    .card-body {
        min-height: 516px;
    }
}
